{% extends "base.html" %}
{% block content %}
{% if cd_list %}
    <ul>
    {% for cd in cd_list %}
        {% if user %}
            <li><a href="/discdb/show/{{ cd.id }}/">{{ cd.artist }} - {{ cd.name }}</a>
            (<a href="/discdb/from/{{cd.owner.id}}/">{{cd.owner.name}}</a>)
            {% if cd.cdlp == "LP" %}
		<strong>(LP)</strong>
            {% endif %}
        {% else %}
            <li>{{ cd.artist }} - {{ cd.name }}</li>
        {% endif %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No CDs are available.</p>
{% endif %}
{% endblock %}
