{% extends "base.html" %}
{% block content %}
{% if cd_list %}
    <ul>
    {% for cd in cd_list %}
        {% if user %}
            <li {% if cd.returned %} class="returned" {% endif %}><a href="/discdb/show/{{ cd.id }}/">{{ cd.artist }} - {{ cd.name }}</a>
            (<a href="/discdb/from/{{cd.owner.id}}/">{{cd.owner.name}}</a>)
        {% else %}
            <li>{{ cd.artist }} - {{ cd.name }}
        {% endif %}
        {% if cd.cdlp == "LP" %}
	   <strong>(LP)</strong>
        {% endif %}
        {% if cd.returned %}
		(Palautettu)
		<form style="display:inline;" action="/discdb/reinsert/", method="POST"><input type="hidden" name="discid" value="{{ cd.id }}"><input type="submit" value="Takaisin kantaan" style="display:inline;"></form>
	{% endif %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No CDs are available.</p>
{% endif %}
{% endblock %}
