chardet==2.0.1
devscripts===2.12.6-deb7u2
Django==1.7.7
fpconst==0.7.2
Magic-file-extensions==0.2
mysql-connector-python===0.3.2-devel
MySQL-python==1.2.3
pexpect==2.4
PIL==1.1.7
python-apt==0.8.8.2
python-debian==0.1.21
python-debianbts==1.11
reportbug==6.4.4
reportlab==2.5
SOAPpy==0.12.0
virtualenv==1.7.1.2
