#header {
    top: 0px;
    margin-top: 0px;
    height: 20px;
    width: 100%;
    text-align: right;
    background-color: #FFFF55;
}

li {

}

div.fieldWrapper {

}

.grantwish {
    display: inline;
}

.inline {
    display: inline;
}
